body{
    background-color: #fffbf7;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

.main h1{
    color:#025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    font-weight: 900;
}
.main p{
    color:darkgray; 

}
.main h4{
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    font-weight: 500;
    
}

.main{
    margin-top: 140px;
    text-align: center;
}

.color_boton{
    color:white;
    background-color: #025157;
}

.color_promocional{
    color:grey;
}

.header{
    font-family: sans-serif;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0px;
    position: fixed;
    top:0px;
    right: 0px;
    left: 0px;
    background-color: #fffbf7;
    padding-bottom: 15px;
}

.ul{
    padding: 0;
}
.header li{
    display: inline;
    padding: 0;
}

.header > * {
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
}

.header .logo{
    width: 15%;
}

.header .navbar{
    width: 70%;
    text-align: center;
}

.header .actions{
    width: 15%;
    text-align: right;
}

.Start{
    padding: 0;
}

/* inicia codigo de section 2 de pubclishing */

.promo {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.publish{
    padding-left: 10px;
}
.publish h3{
    font-family: "Alegreya", Serif;
    font-size: 40px;
    line-height: 48px;
    color:#025157;
    font-weight: 900;
}

.publish>p{
    font-size: 16px;
    color: 343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.promo .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-right: 20px;
}

.promo .explanatory-video img {
    width: 120px;
    margin-top: 10px;
    vertical-align: middle;
}

/*sección 3 de GRID de CSS*/

.features {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: auto;
    background-color: #025157;
    padding: 5% 10%;
}

.features .feature-card {
    background-color: #ffffff;
    margin: 0 15px 30px;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.feature-content {
    flex: 1;
}

.feature-content figure {
    margin-left: 0;
}

.features .feature-card .feature-content img {
    width: 50px;
}

.feature-image {
    flex: 1;
    width: 40%;
    height: 80%;
    position: relative;
    right: -50px;
}

.feature-image figure {
    height: 100%;
    margin-top: 0;
}
.feature-image figure img {
    height: 100%;
    margin-top: 0;
}

  /*comenzamos lo responsive con media query */

@media (max-width: 426px){
    body{
        background-color: aqua;
    }
    .actions,
    .navbar{
        display: none;
    }
    .header {
        padding: 15px;
        z-index: 1;
        margin: 0px;
    }
    .main {
        margin-top: 130px;
    }
    .main h1 {
        font-size: 30px;
    }
    .main .imgcapterra {
        width: 100%;
    }
    .promo {
        flex-direction: column;
        max-width: 90%;
        width: unset;
    }
    .explanatory-video > video {
        width: 100%;
    }
    .publish {
        margin-top: 10px;
    }
    .publish h3 {
        font-size: 25px;
    }
    .features {
        display: inline-block;
        width: 100%;
        padding: 15px;
    }
    .feature-image{
        display: none;
    }
    .feature-card {
        padding: 10px;
    }
}